{% extends "base.html"%}

{% block stylesheets %} 
    <link rel="stylesheet" href="../assets/printstyle.css">
{% endblock %}

{% block cuerpo %}
<div class="flex-cuerpo">

    <!--- Productos --->
    <article>
        <h2>Rotulador lettering</h2>

        <div class="flex-info">
            <h4>Tombow</h4>
            <p class="precio">2,30€</p>
        </div>

        <div class="article-flex">
            <div class="article-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae neque eget risus facilisis
                    imperdiet non in elit. Phasellus euismod nunc ut laoreet rutrum. Vestibulum pretium viverra neque
                    mollis volutpat. Nullam quis est nec enim viverra sodales. Ut nec lacus lacinia, pellentesque mi et,
                    mattis quam. Integer in nisl velit. Vestibulum ut ornare ex, non vestibulum ligula. Curabitur
                    suscipit sem et rutrum rhoncus.</p>
                <p>Vivamus laoreet elit eu massa dapibus fringilla. Proin sit amet erat viverra, porttitor diam nec,
                    bibendum sapien. Vestibulum ullamcorper placerat elementum. Suspendisse a erat at ipsum euismod
                    tincidunt ac vestibulum lacus. Duis turpis odio, porta at dictum vel, condimentum a massa. Proin
                    ultrices, tortor vel aliquet pulvinar, turpis est laoreet massa, ut bibendum erat mauris non massa.
                    Suspendisse ut rhoncus dui.</p>
            </div>

            <div class="img-flex">
                <figure class="image-container">
                    <img src="../images/imagen1.jpg" alt="Una imagen">
                    <figcaption>Apuntes</figcaption>
                </figure>

                <figure class="image-container">
                    <img src="../images/imagen1.jpg" alt="Una imagen">
                    <figcaption>Apuntes</figcaption>
                </figure>
            </div>
        </div>
    </article>
</div>
{% endblock %}
