{% extends "base.html" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/productinfo.css">
    <link rel="stylesheet" href="../assets/comments.css">
{% endblock %}

{% block cuerpo %}
    <div class="flex-cuerpo">

        <!--- Productos --->
        <article>
            <h2>{{producto['nombre']}}</h2>

            <div class="flex-info">
                <h4>{{producto['marca']}}</h4>
                <p class="precio">{{producto['precio']}}€</p>
            </div>

            <div class="article-flex">
                <div class="article-text">
                    <p>{{producto['descripcion']}}</p>
                </div>
            </div>

            <div class="img-flex">
                {% for imagen in imagenes %}
                    <figure class="image-container">
                        <img src="{{imagen.ruta}}" alt="Una imagen">
                        <figcaption>{{imagen.caption}}</figcaption>
                    </figure>
                {% endfor %} 
            </div>
        </article>

        <!--- Barra lateral --->
        {{ parent () }}
    </div>

    <div id="flex-boton">
        <button id="toggleComments">Mostrar comentarios</button>
    </div>

    <div id="flex-comentarios">
        <!---Comentarios publicados--->
        <div id="commentSection">
            {% for comment in comentarios %}
                <div class="comentario">
                    <p class="nombre">{{comment.autor}} <span class="fecha">{{comment.fecha}}</span></p>
                    <p class="texto"> {{comment.texto}}</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            {% endfor %}
        </div>
        <!--- FORMULARIO: Publicar un nuevo comentario--->
        <form id="form" action="javascript:void(0)" class="add_comment" method="post">
            <!--input type="hidden" name="post_id" value="<?php echo $post_id; ?>" required-->

            <label>Nombre
                <input id="fname" type="string" name="fname"  onkeyup="censor(document.getElementById('fname'))" placeholder="John Doe">
            </label><br>
            <label>Email
                <input id="femail" type="email" name="femail" placeholder="example@gmail.com">
            </label><br>
            <label>Comentario
                <textarea id="fcomment" name="fcomment" onkeyup="censor(document.getElementById('fcomment'))"  placeholder="Escribe tu comentario aquí..."></textarea>
            </label>
            <input id="commentButton" type="submit" value="Publicar">
        </form>
    </div>

{% endblock %}

{% block socials %}
    {{ parent () }}
    <a href="producto_imprimir.php" class="fa fa-print"></a>
{%endblock %}