#commentSection{
    display: block;
}

#flex-boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#toggleComments{
    display: block;
    font-weight: bold;
    padding: 10px;
    border-style: dashed;
    border-radius: 20px;
}

#flex-comentarios{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    margin: 10px;
}

#form{
    border: #7a709a dashed;
    border-radius: 40px;
    padding: 30px
}

.comentario{
    padding: 10px;
    background: #a09abc;
    border-radius: 20px;
    margin: 10px
}

#nombre{
    padding-left: 20px;
    color: white;
    font-weight: bolder;
}

#fecha{
    text-align: end;
    color: ghostwhite;
    font-style: italic;
    font-weight: normal;
}

#texto{
    padding-left: 40px;
}

.fa-comment{
    color: #a09abc;
}

#form{
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

#fname{
    display: flex;
}

#femail{
    display: flex;
}

#fcomment{
    display: flex;
    width: 400px;
    height: 100px;
    align-content: center;
}

#commentButton{
    padding: 10px;
    float: right;
    background: #7a709a;
    border-radius: 10px;
    margin-top: 10px;

    color: white;
    font-weight: bolder;
}

#commentButton:hover{
    opacity: 0.7;
}