
* {
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

body {
    background: #e1dee9;
}

/* Contenedor principal de los productos y la sidebar */
.flex-cuerpo{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: center;
    min-height: 400px;
}