
* {
	box-sizing: border-box;
	font-family: Lato, Helvetica, Arial, sans-serif;
}

body {
	background: #e1dee9;
}

/* ----------------------- Cabecera ----------------------- */

#logo{
	display: flex;
	border-radius: 50%;

	background: rgb(160,154,188);
	background: linear-gradient(115deg, rgba(160,154,188,1) 50%, rgba(190,185,199,1) 50%);
	color: #e1dee9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

	margin: 75px 30px;
	padding: 17px 18px;
	font-size: 50px;

	width: 75px;
	height: 75px;
	text-align: center;
	text-decoration: none;
}

.header-flex{
	flex-direction: row;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

h1{
	font-size: 5em;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
}

header{
	width: 100%;
	height: auto;
	text-align: center;
}

header p{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bolder;
	font-size: large;
}

/* Para crear el efecto máquina de escribir*/

#typed-out {
	margin-top: -90px;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bold;
	overflow: hidden;
	padding-right: 5px;
	border-right: .15em solid #a09abc;
	font-size: large;
	white-space: nowrap;
	width: 0;
	animation: typing 2.5s steps(30, end) forwards,
				blink 1.2s infinite;
}

.typeoutcontainer {
	display: inline-block;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink {
	from { border-color: transparent }
	to { border-color: #a09abc; }
}

/* ----------------------- Menu principal ----------------------- */
.flex-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	background-color: #a09abc;
	overflow: auto;
	width: 100%;
	border-radius: 40px;
}

/* Los elementos del menú principal*/
nav a.menu{
	font-weight: bold;
	display: block;
	color: #e1dee9;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

/*.fa-shopping-cart{
	display: inline-block;
	color: white;
	text-align: right;
	margin-left: 90%;
	border-color: white;
	border-style: dashed;
}

.fa-shopping-cart:hover {
	opacity: 0.9;
}*/

/* Los elementos del menú principal al pasar el
ratón por encima (si no están activos)*/
nav a.menu:hover:not(.activa){
	background-color: #B6A6CA;
}

/* Para que la pestaña activa destaque*/
#activa {
	background-color: #7a709a;
}

/* ----------------------- Cuerpo de página ----------------------- */

.flex-cuerpo{
	width: 100%;
	height: 100%;
	margin-top: 20px;
	justify-content: center;
	min-height: 400px;
}

.flex-productos{
	display: flex;
	justify-content: center;
	/*background: #3c3f48;*/
	border-radius: 40px;
	flex-wrap: wrap;
	width: 70%;
	padding: 2%;
}

.producto img{
	width: 100%;
	transition: 0.5s;
}

.producto:hover {
	transform: scale(1.08);
}

.producto {
	cursor: pointer;
	transition: transform .7s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	background: #a09abc;
	max-width: 150px;
	margin: 20px;
}

.producto:hover > img{
	transform: scale(1.08);
}

.precio {
	color: grey;
	font-size: 22px;
}


/*-----------------------------------*/

.article-flex{
	display:flex;
	justify-content: center;
	flex-direction: row;
}

article{
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

article h2{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bolder;
	font-size: xx-large;
}

article h4 {
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bolder;
	font-size: x-large;
	color: #3B5998;
}

.img-flex{
	display: flex;
	justify-content: revert;
	flex-direction: column;
	margin-left: 7%;
	min-width: 40%;
}

article img{
	margin-bottom: 7%;
	max-width: 100%;
	border-radius: 0% 10% 0% 10%;
}

.contenedor-imagen{
	margin: 3%;
	position: relative;
}

.bottom-text {
	position: absolute;
	bottom: 20px;
	right: 10px;
	font-weight: bold;
}

/* --------------- Menu lateral ----------------- */
.flex-menusocial{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

aside {
	width: 30%;
	float: right;
	position: relative;
	font-weight: bold;

	background: #A09ABC;
	border-radius: 20px;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

ul {
	list-style-type: none;
	text-align: left;
	margin-right: 10px;
}

ul li a{
	color: #e1dee9;
}

/* -- ICONOS --*/

/* General */
.fa {
	margin: 0 6px 6px 0;
	padding: 10px;
	font-size: 15px;
	width: 35px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	transition: transform .2s; /* Animation */
}

/* Efecto al pasar el ratón por encima */
.fa:hover {
	opacity: 0.9;
	transform: scale(1.2);
}

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}
  
/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-instagram {
	background: #E1306C;
	color: white;
}

.fa-print {
	background: #6e6e6e;
	color: white;
}


/* ----------------------- Pie de página ----------------------- */

footer{
	width: 100%;
	height: 50px;
	margin-top: 3%;
	text-align: center;
	padding: 17px;
	color: #e1dee9;
	background-color: #a09abc;
	font-weight: bold;
}

/* ----------------------- PARA CONTACTO ----------------------- */

#me{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	float: right;
	vertical-align: hanging;
}

#about{
	justify-content: center;
	text-align: justify;
  	text-justify: inter-word;
	margin-left: 35px;  
	margin-right: 35px;  
}

.flex-aboutme{
	width: 100%;
	display: flex;
	justify-content: left;
	padding: 10px;
}