{% extends "base.html"%}

{% block stylesheets %}
{{parent () }}
<link rel="stylesheet" href="../assets/edit_user.css">
{% endblock %}

{% block cuerpo %}
<div id="container-edit">
  <form method="POST">
    <div class="container-form">
        <h1 id="edit-title">Edita tus datos</h1>
        <hr>
        <label for="nombre"><strong>Nombre</strong></label>
        <input type="text" placeholder="Introduzca su nombre" name="nombre" id="nombre" value="{{ usuario.nombre }}" required="">
    
        <label for="email"><strong>Email</strong></label>
        <input type="email" placeholder="Introduzca su email" name="email" id="email" value="{{ usuario.email }}" required="">
    
        <label for="password"><strong>Nueva contraseña</strong></label>
        <input type="password" placeholder="Introduzca su contraseña" name="password" id="password">
    
        {% if codigo_error == 1 %}
          <div class="mensaje-boton">
            <span class="success">Sus datos se han guardado correctamente</span><br/>
            <button onclick="window.location.href='/index.php'" type="button">Ir a la página principal</button> 
          </div>
        {% elseif codigo_error == 2%}
          <div class="mensaje-boton">
              <span class="fail">Error al guardar los datos </span><br/>
              <button onclick="window.location.href='/edit_user.php'" type="button">Volver a editar los datos</button> 
          </div>
        {% else %}
         <button type="submit" class="savebtn">Guardar cambios</button>
        {% endif %}
      </div>
    </form>
</div>

{% endblock %}




