<!DOCTYPE html>
<html lang="es">

<head>
    <!--- Título de la pestaña --->
    <title> artsy </title>
    <!--- Para el responsive design --->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- Formato de caracteres --->
    <meta charset="UTF-8">
    <!--- Nombre del autor --->
    <meta name="autor" content="Esther García Gallego">
    <!--- Link a las hojas de CSS --->
    <link rel="stylesheet" href="../assets/edit_user.css">
    <!--- Script para comentarios --->
    <script src="../templates/comments.js"></script>
    <!-- Librería de iconos -->
    <script src="https://kit.fontawesome.com/a06e2f8764.js" crossorigin="anonymous"></script>
    <!--- google fonts--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>

<body>
  <form method="POST">
  <div class="container">
      <h1>Edita tus datos</h1>
      <hr>
      <label for="nombre"><strong>Nombre</strong></label>
      <input type="text" placeholder="Introduzca su nombre" name="nombre" id="nombre" value="{{ usuario.nombre }}" required="">
  
      <label for="email"><strong>Email</strong></label>
      <input type="email" placeholder="Introduzca su email" name="email" id="email" value="{{ usuario.email }}" required="">
  
      <label for="password"><strong>Nueva contraseña</strong></label>
      <input type="password" placeholder="Introduzca su contraseña" name="password" id="password">
  
      {% if codigo_error == 1 %}
        <div class="mensaje-boton">
          <span class="success">Sus datos se han guardado correctamente</span><br/>
          <button onclick="window.location.href='/index.php'" type="button">Ir a la página principal</button> 
        </div>
      {% elseif codigo_error == 2%}
        <div class="mensaje-boton">
            <span class="fail">Error al guardar los datos </span><br/>
            <button onclick="window.location.href='/edit_user.php'" type="button">Volver a editar los datos</button> 
        </div>
      {% else %}
       <button type="submit" class="savebtn">Guardar cambios</button>
      {% endif %}
    </div>
  </form>
</body>



