{% extends "base.html"%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/product.css">
{% endblock %}

{%block index%}
    id="activa"
{%endblock %}

{% block cuerpo %}
    <div class="flex-cuerpo">
        
        <!--- Productos --->
        <section class="flex-productos">
            {% for i in 1..numprod %}
                <div class="producto">
                    <img onclick="window.location.href = 'producto.php?prod={{i}}';" src="../images/pencil.png" alt="Lápiz">
                </div>
            {% endfor %}
        </section>

        {{ parent () }}
    </div>
{% endblock %}
