<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../assets/login.css">
</head>
<body>
  <form action="login.php" method="post">
    <div class="container">
      <h1>Login</h1>
      <hr>

      <label for="username"><b>Usuario</b></label>
      <input type="text" placeholder="Introduzca el nombre de usuario" name="username" required>
      <br/>
      <br/>
      <label for="password"><b>Contraseña</b></label>
      <input type="password" placeholder="Introduzca la contraseña" name="password" required>
      <br/>
      {% if codigo_error == false %}
        <br/>
        <span class="fail">El usuario o la contraseña son incorrectos</span><br/>    
        {% endif %}
        <br/> 
      <button type="submit">Iniciar sesión</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Recuérdame
      </label>
      <br/>
      <div class="container signin">
        <p>¿Aún no tienes cuenta? <a href="register.php">Regístrate</a></p>
      </div>
    </div>
  </form> 
</body>

</html>