{% extends "base.html" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/productinfo.css">
    <link rel="stylesheet" href="../assets/comments.css">
{% endblock %}

{% block scripts %}
    <script src="../templates/comments.js"></script>
{% endblock %}

{% block cuerpo %}
    <div class="flex-cuerpo">

        <!--- Productos --->
        <article>
            <div class="flex-container">
                <span class="titulo-prod">{{producto['nombre']}}</span>
            {%if usuario.manage or usuario.admin %}
                <a href="edit_product.php?id={{producto.id}}"><i id="button-editar" class="fa-solid fa-edit" ></i></a>
              {% endif %}
            {% if producto.publicado %}
                <a href="set_visibility.php?id={{producto.id}}"><i class="fa-solid fa-eye"></i></a>
                {% else %}
                <a href="set_visibility.php?id={{producto.id}}"><i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
            
            </div>
            
            <div class="flex-info">
                <h4>{{producto['marca']}}</h4>
                <p class="precio">{{producto['precio']}}€</p>
                                
            </div>

            <div id="tags-flex">
                {% for tag in tags %}
                <span class="tag">{{tag.etiqueta}}</span>
                {% endfor %}
            </div>

            <div class="article-flex">
                <div class="article-text">
                    <p>{{producto['descripcion']}}</p>
                </div>
            </div>

            <div class="img-flex">
                {% for imagen in imagenes %}
                    <figure class="image-container">
                        <img src="{{imagen.ruta}}" alt="Una imagen">
                        <figcaption>{{imagen.caption}}</figcaption>
                    </figure>
                {% endfor %} 
            </div>
        </article>

        <!--- Barra lateral --->
        {{ parent () }}
    </div>

    <div id="flex-boton">
        <button id="toggleComments">Mostrar comentarios</button>
    </div>

    
    <div id="flex-comentarios">
        <!--- FORMULARIO: Publicar un nuevo comentario--->
        {% if usuario %}
            <form id="form" class="add_comment" method="POST">
                <!--input type="hidden" name="post_id" value="<?php echo $post_id; ?>" required-->
                <label>Comentario
                    <textarea id="fcomment" name="comment" onkeyup="censor(document.getElementById('fcomment'))"  placeholder="Escribe tu comentario aquí..."></textarea>
                </label>
                <input id="commentButton" type="submit" value="Publicar">
            </form>
            {% else %}
                <p>Debes iniciar sesión para poder publicar comentarios</p>
        {% endif %}
        
        <!---Comentarios publicados--->
        
        <div id="commentSection">
            {% for comment in comentarios %}
                <div class="comentario">
                    <p class="nombre">{{comment.autor}} <span class="fecha">{{comment.fechaFormateada}}</span></p>
                    <p class="texto"> {{comment.texto}}</p>
                    {% if usuario.admin or usuario.moderate %}
                        <i class="fa-solid fa-heart"></i>
                        <a href="edit_comment.php?id={{comment.id_com}}" id="edit-button"><i class="fa-solid fa-pencil"></i></a>
                        <a href="delete_comment.php?id={{comment.id_com}}" id="delete-button"><i class="fa-solid fa-trash-can"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block socials %}
    {{ parent () }}
    <a href="producto_imprimir.php?prod={{producto['id']}}" class="fa fa-print"></a>
{%endblock %}