{% extends "base.html" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../assets/productinfo.css">
    <link rel="stylesheet" href="../assets/comments.css">
{% endblock %}

{% block cuerpo %}
    <div class="flex-cuerpo">

        <!--- Productos --->
        <article>
            <h2>{{producto['nombre']}}</h2>

            <div class="flex-info">
                <h4>{{producto['marca']}}</h4>
                <p class="precio">{{producto['precio']}}€</p>
            </div>

            <div class="article-flex">
                <div class="article-text">
                    <p>{{producto['descripcion']}}</p>
                </div>
            </div>

            <div class="img-flex">
                {% for imagen in imagenes %}
                    <figure class="image-container">
                        <img src="{{imagen.ruta}}" alt="Una imagen">
                        <figcaption>{{imagen.caption}}</figcaption>
                    </figure>
                {% endfor %} 
            </div>
        </article>

        <!--- Barra lateral --->
        {{ parent () }}
    </div>

    <div id="flex-boton">
        <button id="toggleComments">Mostrar comentarios</button>
    </div>

    
    <div id="flex-comentarios">
        <!--- FORMULARIO: Publicar un nuevo comentario--->
        {% if usuario %}
            <form id="form" class="add_comment" method="POST">
                <!--input type="hidden" name="post_id" value="<?php echo $post_id; ?>" required-->
                <label>Comentario
                    <textarea id="fcomment" name="comment" onkeyup="censor(document.getElementById('fcomment'))"  placeholder="Escribe tu comentario aquí..."></textarea>
                </label>
                <input id="commentButton" type="submit" value="Publicar">
            </form>
            {% else %}
                <p>Debes iniciar sesión para poder publicar comentarios</p>
         {% endif %}
        
        <!---Comentarios publicados--->
        
        <div id="commentSection">
            {% for comment in comentarios %}
                <div class="comentario">
                    <p class="nombre">{{comment.autor}} <span class="fecha">{{comment.fechaFormateada}}</span></p>
                    <p class="texto"> {{comment.texto}}</p>
                    {% if usuario.admin or usuario.moderate %}
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-pencil"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block socials %}
    {{ parent () }}
    <a href="producto_imprimir.php?prod={{producto['id']}}" class="fa fa-print"></a>
{%endblock %}