body{
    background-color: #b6a6ca;
    text-align: center;
    align-items: center;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}