#container-edit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #edit-title{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  
  /* Add padding to containers */
  .container-form {
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: 20px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .savebtn:hover {
    opacity: 1;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .savebtn, .mensaje-boton button{
    background-color: #B6A6CA;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    opacity: 0.9;

    font-weight: bold;
    font-size: 15px;
    }

  .mensaje-boton{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .success{
    color: #a0cca0;
  }

  .fail {
    color: lightcoral;
  }