/* ----------------------- Menu principal ----------------------- */

.flex-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: left;
    align-items: center;
    background-color: #a09abc;
    overflow: auto;
    width: 100%;
    margin:0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: left;
    width: 100%;
    height: auto;
}

/* Texto del menú principal*/
nav a.menu{
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Los elementos del menú principal al pasar el
ratón por encima (si no están activos)*/
nav a.menu:hover:not(.activa){
    background-color: #B6A6CA;
}

nav a.menu2{
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: center;

    color: white;
    text-align: right;
    width: auto;
    text-decoration: none;
    opacity: 0.7;
}

/* Para que la pestaña activa destaque*/
#activa {
    background-color: #7a709a;
}

#login a{
    float: right;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    
    text-align: right;
}

.menu2:hover{
    opacity: 1;
}
